-------------------------PROJECTS SCHEMA
ProjectID
ProjectName
ProjectLead
ProjectCategory
ProjectTeam
ProjectDescription
StartDate
DueDate

---------------------------TASKS SCHEMA
TaskID
TaskName
ProjectName
EmployeeAssigned
TaskDescription
StartDate
DueDate

------------------------EMPLOYEES SCHEMA
EmployeeAvatar
EmployeeID
FirstName
LastName
UserName
Email
Role
PhoneNumber
Password
PasswordCOnfirm
MemberSince
DateOfBirth



Fetch from DB: 
---- IN tasks All Projects from projects to Project Name field
              All employees from employee_firstname to Employee Assigned

            ----------apply the same on the Add a Project ProjectCategory

--------Viewing DB data 

    All Projects
    All Tasks


---------- Employee Page 
    Show Name on Welcome
    Show Name on NavbarMenu    
    Show ONLY Employee Tasks on MYTASKS


---------Routes Blocking
Admin Only  ----- Add A Project 
                  New Task
                  Admin Dashboard


Employees ------ Employee Dashboard
                 All Tasks
                 Your New Task
                 All Projects                  